---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<h2> Outreach projects </h2>


Other resources:



<ol>
  <h3>Talks</h3>
  <p>
    {% assign sorted = site.talks | sort: 'id_for_sorting' | reverse %}
    {% for post in sorted %}
    {% include archive-single-talk.html %}
    {% endfor %}
  </p>
</ol>

<ol>
  {% if site.poster_display == true %}
  <p>
  <h2>Posters</h2>
  <p style="font-size:16px">See some highlights from my scientific poster presentations <a href="/posters">here.</a></p>
  {% endif %}
</ol>


<p>For a complete and up-to-date list of publications, see my <a
    href="https://inspirehep.net/authors/1621061?ui-citation-summary=true" target="_blank">INSPIRE</a> page.</p>

<p>
  <script>
    var lastmod = new Date(document.lastModified);
    var lastmodClean = ('0' + (lastmod.getMonth() + 1)).slice(-2) + "/" + ('0' + lastmod.getDate()).slice(-2) + "/" + lastmod.getFullYear().toString().substr(-2);
    document.write("Last updated on " + lastmodClean + ".");
  </script>
</p>

<embed src="https://mhostert.github.io/files/mhostert_CV.pdf" type="application/pdf" target="_blank" />

You can find the TeX template for it <a href="https://mhostert.github.io/files/cv_template.tex">here</a>.


<a href="https://mhostert.github.io/images/posters/nuphys_2017.png">
  <img src="https://mhostert.github.io/images/posters/nuphys_2017.png" alt="nuphys_2017"
    style="width:30%;padding:20px;,">
</a>