---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

 <!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}
 -->
{% if site.poster_display == true %}
<ol>
<p>
<p style="font-size:16px">See my some highlights from my scientific poster presentations <a href="/posters">here.</a></p>
{% endif %}
</ol>


 <ol>
{% assign sorted = site.talks | sort: 'id_for_sorting' | reverse %}
{% for post in sorted %}
  {% include archive-single-talk.html %}
{% endfor %} 
</ol>