
.guest_author_avatar
{
	width:100px;
	height:auto;
}


/*
     FILE ARCHIVED ON 12:29:58 Feb 21, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:09:15 Sep 18, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 174.173
  exclusion.robots: 0.107
  exclusion.robots.policy: 0.098
  RedisCDXSource: 16.633
  esindex: 0.011
  LoadShardBlock: 139.474 (3)
  PetaboxLoader3.datanode: 268.423 (6)
  CDXLines.iter: 15.147 (3)
  load_resource: 293.08 (2)
  PetaboxLoader3.resolve: 110.769 (2)
  loaddict: 58.152
*/