{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item" style="font-size:16px;">

<!-- PREVIEW IMAGE OF THE TALK -->
<!--   <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
 --><!--     {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %} -->

      {% if post.link %}
        {{post.talk_number}}. {{post.venue}} <a href="{{ post.talk_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="False" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        {{post.talk_number}}. {{post.venue}}
      {% endif %}
  <p class="page__meta">
    {{post.type}}{% if post.location %} | {{post.location}}{% endif %}{% if post.date %} | {{post.date | date:'%B, 20%d'}}{% endif %}.
    <br>
  </p>
    <!-- {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>{% endif %} -->
  <!-- </article> -->
</div>
