.container {
    width:100%;
    border:1px solid #04a7ff98;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#04a7ff98;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}



